<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="499e159e-aa8e-4e4a-96d4-9ff14c46026e" Publisher="CN=jasoli" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="499e159e-aa8e-4e4a-96d4-9ff14c46026e" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>MeiTuTieTie.WindowsPhone</DisplayName>
    <PublisherDisplayName>jasoli</PublisherDisplayName>
    <Logo>Assets\Images\Logo\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MeiTuTieTie.WindowsPhone.App">
      <m3:VisualElements DisplayName="美图贴贴" Square150x150Logo="Assets\Images\Logo\Logo150.png" Square44x44Logo="Assets\Images\Logo\Logo44.png" Description="美图贴贴" ForegroundText="light" BackgroundColor="#ff7e7e">
        <m3:DefaultTile Square71x71Logo="Assets\Images\Logo\Logo71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\Images\Logo\SplashScreen.jpg" BackgroundColor="#ff7e7e" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="picturesLibrary" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>