<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="729ABAD7.417147508C696" Publisher="CN=E0388F02-A04E-449A-A622-1CD1A578B894" Version="1.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="65de02b1-44c8-4e7d-a256-b0fb2ae54dad" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>美图贴贴</DisplayName>
    <PublisherDisplayName>厦门美图网科技有限公司</PublisherDisplayName>
    <Logo>Assets\Images\Logo\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MeiTuTieTie.WindowsPhone.App">
      <m3:VisualElements DisplayName="美图贴贴" Square150x150Logo="Assets\Images\Logo\Logo150.png" Square44x44Logo="Assets\Images\Logo\Logo44.png" Description="美图贴贴" ForegroundText="light" BackgroundColor="#ff7e7e">
        <m3:DefaultTile Square71x71Logo="Assets\Images\Logo\Logo71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\Images\Logo\SplashScreen.jpg" BackgroundColor="#ff7e7e" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="picturesLibrary" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>